body{
    margin: 0;
    padding: 0;
}
.body{
    background-color: rgb(168, 184, 178);
    color: black;
    width: 100%;
    margin: 0% 0%;
}
:root{
    --primary-color: rgb(96, 136, 96);
    --secondary-color: rgb(75, 75, 14);
}

.navigation{
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    padding: 0.8rem;
    margin-bottom: none;
    text-align: center;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.text-input{
    min-width: 90%;
    min-height: 15vh;
    /* border: 1px solid black; */
    margin: 1rem;
}
#txt-input{
    width: 100%;
    min-height: 15vh;
    /* resize: vertical; */
}
#btn-translate{
    width: 40%;
    height: 40px;
    /* border: 2px solid black; */
    border: none;
    font-size: larger;
    border-radius: 5px;  
}
#btn-translate:hover{
    box-shadow: 0 15px 10px rgb(0 0 0 / 0.2);
}

#output{
    width: 100%;
    min-height: 15vh;
    overflow: scroll;
}

.lb{
    background-color: rgb(238, 232, 232);
    /* margin: 1rem; */
}

.ow{
    background-color: rgb(96, 136, 96);
    /* border-top-left-radius: .5rem; */
    color: white;
    margin: .5rem;
    padding: 1rem;
}
.footer{
    background-color: var(--primary-color);
    padding: 1.5rem 0.5rem;
    text-align: center;
    color: white;
    font-size: 25px;

}

.footer1{
    background-color: black;
    padding: 1.5rem 0.5rem;
    text-align: left;
    color: white;
    font-size: 25px;

}
.list-non-bullet{
    list-style: none;
}

.f{
    padding-left: 2rem;
}

.link{
    text-decoration: none;
    padding: 0.1rem 0.1rem;
    color: white;
    text-align: right;
    font-size: 15px;
}